.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  margin: 25px 0px;
  padding: 25px 0px;
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--color-grey5);
}

.recommended-friends span {
  display: block; /* margin 값 적용을 위해 block으로 바꿔줌 */
  margin: 100px 0px;
  text-align: center;
  font-size: 18px;
  color: var(--color-grey5);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.open-post:last-child {
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase; /* 웹페이지에 소문자를 대문자로 나타내줌 */
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  font-size: 14px;
  opacity: 0.5;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0px 5px;
  background-color: var(--color-grey5);
}

.open-post__member-status {
  color: #ffc1e7;
}

.open-post__photo {
  position: relative; /* 자식 div인 open-post__heart-count가 absolute */
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: var(--color-grey5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute; /* 부모 div인 open-post__photo가 relative */
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
